@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&subset=cyrillic");
.fb-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fb-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fb-row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fb-row-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

body {
  line-height: 1.4;
  font-family: "Roboto";
}

h2 {
  color: #333;
  font-size: 34px;
  margin: 0 auto 40px;
  text-align: center;
  font-weight: 600;
}

.ns-wrap {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.ns-pluses {
  padding: 120px 0;
  background: url(../img/pluses-bg.jpg) center no-repeat;
  background-size: cover;
}

.ns-pluses__item {
  width: 240px;
  margin: 0 10px 20px;
  text-align: center;
}
.ns-pluses__item img {
  display: inline-block;
  margin-bottom: 20px;
}
.ns-pluses__item h5 {
  color: #e06618;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 20px;
}
.ns-pluses__item p {
  color: #333;
  margin: 0;
}

.ns-video-complex {
  padding-bottom: 60px;
  position: relative;
  height: 500px;
}
.ns-video-complex .ns-complex-iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ns-video-complex h2 {
  color: #fff;
  position: relative;
  padding-top: 300px;
}

.ns-you-need {
  padding-top: 100px;
  padding-bottom: 50px;
}
.ns-you-need .fb-row-center {
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
}

.you-need__item--left {
  margin: 0 20px 30px 0;
  width: 50%;
  font-size: 0;
}
.you-need__item--left p, .you-need__item--left img {
  display: inline-block;
  vertical-align: middle;
}
.you-need__item--left img {
  width: 115px;
}
.you-need__item--left p {
  width: calc( 100% - 115px - 20px );
  max-width: 300px;
  font-weight: 300;
  color: #333;
  font-size: 15px;
  max-width: 460px;
  text-align: right;
  margin-right: 20px;
}

.you-need__item--right {
  margin: 0 0px 30px 20px;
  width: 50%;
  font-size: 0;
}
.you-need__item--right p, .you-need__item--right img {
  display: inline-block;
  vertical-align: middle;
}
.you-need__item--right img {
  width: 115px;
}
.you-need__item--right p {
  width: calc( 100% - 115px - 20px );
  font-size: 15px;
  max-width: 300px;
  font-weight: 300;
  color: #333;
  max-width: 460px;
  text-align: left;
  margin-left: 20px;
}

.ns-order {
  background: #ededed;
  padding: 100px 0;
}
.ns-order h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid #cccbca;
}
.ns-order__item {
  width: 300px;
  text-align: center;
  margin: 0 20px 30px;
}
.ns-order__item img {
  display: inline-block;
}

.ns-why-trust {
  min-height: 500px;
  background: url(../img/trust-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 1px 0 20px;
}
.ns-why-trust h2 {
  padding-top: 70px;
  color: #e06618;
}

.ns-trust-container--left {
  position: relative;
  width: 100%;
  max-width: 340px;
  float: left;
}
.ns-trust-container--right {
  position: relative;
  width: 100%;
  max-width: 340px;
  float: right;
}

.ns-trust__item--left {
  position: relative;
  padding: 1px 0 1px 35px;
  margin-bottom: 50px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ns-trust__item--left:after {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  border: 1px solid #e06618;
  border-right: none;
  left: 0;
  top: 0;
}
.ns-trust__item--left span {
  position: absolute;
  z-index: 5;
  left: -12px;
  top: 60px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #e06618;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}
.ns-trust__item--left p {
  margin: 0;
  color: #333;
}

.ns-trust__item--right {
  position: relative;
  padding: 1px 35px 1px 0px;
  margin-bottom: 50px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ns-trust__item--right:after {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  border: 1px solid #e06618;
  border-left: none;
  right: 0;
  top: 0;
}
.ns-trust__item--right span {
  position: absolute;
  z-index: 5;
  right: -12px;
  top: 60px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #e06618;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}
.ns-trust__item--right p {
  margin: 0;
  text-align: right;
  color: #333;
}

.ns-warranty {
  padding: 100px 0 50px;
  min-height: 500px;
  background: url(../img/warranty-bg.jpg) center no-repeat;
  background-size: cover;
}
.ns-warranty .ns-warranty-wrap {
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.ns-warranty h2 {
  color: #fff;
  margin-bottom: 50px;
}
.ns-warranty p {
  padding-left: 50px;
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px;
  font-weight: 400;
}

.ns-how-work {
  padding-top: 100px;
  padding-bottom: 50px;
}

.ns-work__item {
  width: 25%;
  margin: 0 0 25px;
  text-align: center;
}
.ns-work__item span {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 34px;
  border-radius: 100%;
  color: #e06618;
  border: 2px solid #eee;
}
.ns-work__item p {
  font-weight: 300;
  font-size: 15px;
  padding: 0 10px;
}

.ns-how-work__button {
  background: #e06618;
  border-radius: 4px;
  width: 260px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  font-size: 18px;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.slick-prev:before, .slick-next:before {
  content: "";
  background: url(../img/slider-arr.png) center no-repeat;
  width: 20px;
  height: 32px;
  display: block;
}

.slick-next:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ns-clients {
  background: #ededed;
  padding-top: 80px;
  padding-bottom: 70px;
}

.ns-clients-slider {
  max-width: 1200px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.ns-clients-slider__item {
  display: block;
  text-align: center;
  width: auto;
  height: 65px;
}
.ns-clients-slider__item img {
  display: inline-block;
}

.ns-comments {
  padding-top: 80px;
  padding-bottom: 60px;
}
.ns-comments h2 {
  text-align: center;
}

.ns-comments-slider {
  width: 100%;
  padding: 0 50px;
}

.ns-comments__item {
  outline: none;
  padding: 0 20px;
}
.ns-comments__item img {
  display: block;
  margin: 0 auto 20px;
}
.ns-comments__item h6 {
  text-align: center;
  padding-bottom: 12px;
  margin: 0 0 15px;
  font-size: 16px;
  border-bottom: 1px solid #d9d7d7;
}
.ns-comments__item p {
  font-size: 14px;
  color: #808080;
  margin: 0;
}

.ns-examples {
  background: #ededed;
  padding-top: 80px;
  padding-bottom: 80px;
}

.ns-examples-slider {
  padding: 0 50px;
}
.ns-examples-slider img {
  display: block;
  height: auto;
  margin: 0 15px 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}

.ns-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}
.ns-footer h2 {
  margin-bottom: 30px;
}

.fb-row-center {
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.fb-row-center iframe {
  margin: 0 25px 20px 0;
}
.fb-row-center .ns-footer-info {
  width: 100%;
  max-width: 400px;
  margin: 0 15px 20px;
}
.fb-row-center .ns-footer-info p {
  font-size: 18px;
  color: #808080;
}
.fb-row-center .ns-footer-info p span {
  color: #333;
}

.ns-footer-button {
  width: 260px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 50px;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background: #e06618;
  cursor: pointer;
}

.ns-footer-soc a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

@media only screen and (max-width: 1100px) {
  .ns-pluses {
    padding: 50px 0;
  }
  .ns-pluses .fb-row-top {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-pack: center;
  }

  .ns-pluses__item {
    margin: 0 10px 40px;
    width: 50%;
    max-width: 300px;
  }

  .ns-you-need {
    padding: 50px 0;
  }

  .ns-order {
    padding: 50px 0;
  }

  .ns-examples {
    padding: 50px 0;
  }

  .ns-footer {
    padding: 50px 0;
  }

  .fb-row-center iframe {
    width: 50%;
    display: block;
  }

  .ns-footer-info {
    display: block;
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 26px;
  }

  .ns-why-trust {
    background: none;
  }

  .ns-work__item p {
    font-size: 14px;
  }

  .ns-footer h2 {
    font-size: 22px;
  }

  .fb-row-center iframe {
    margin: 0 0 50px;
  }

  .fb-row-center .ns-footer-info {
    margin: 0;
    padding-left: 30px;
  }
  .fb-row-center .ns-footer-info p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .ns-pluses__item {
    max-width: 240px;
  }

  .ns-trust-container--left,
  .ns-trust-container--right {
    float: none;
    margin: 0 auto 30px;
    font-size: 15px;
  }

  .fb-row-center iframe {
    width: 100%;
    max-width: 600px;
  }

  .ns-footer-button {
    margin: 30px auto;
  }

  .ns-footer-soc {
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  .you-need__item--left,
  .you-need__item--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 30px;
  }
  .you-need__item--left p,
  .you-need__item--right p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .you-need__item--left img,
  .you-need__item--right img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .ns-work__item {
    width: 50%;
    padding: 0 15px;
  }

  .ns-footer h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  h2 {
    font-weight: 400px;
  }

  .ns-pluses__item {
    width: 100%;
    max-width: 100%;
  }

  .ns-footer h2 {
    font-size: 18px;
  }

  .ns-video-complex h2 {
    font-size: 22px;
  }

  .you-need__item--left, .you-need__item--right {
    width: 100%;
  }

  .ns-you-need .fb-row-center {
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
  }

  .you-need__item--left p, .you-need__item--right p {
    width: 100%;
    margin: 20px auto 30px;
  }
}
@media only screen and (max-width: 500px) {
  .ns-warranty h2 {
    font-size: 22px;
  }

  .ns-warranty p {
    font-size: 16px;
    padding-left: 30px;
  }

  .ns-comments-slider {
    padding: 0 30px;
  }

  .ns-examples-slider {
    padding: 0 30px;
  }

  .fb-row-center .ns-footer-info {
    padding-left: 0;
  }
}
@media only screen and (max-width: 400px) {
  .ns-work__item {
    width: 100%;
    padding: 0 15px;
  }

  .fb-row-center .ns-footer-info p {
    font-size: 14px;
  }
}
